<div class="figure">
    <figure class="product__figure">
        <img class="product__img" src="{{singleProduct.image}}" alt="{{singleProduct.name}}">
        <figcaption class="product__figcaption">{{singleProduct.name}}</figcaption>
        <div class="product_info">
            <p class="product__info--text" >{{singleProduct.description}}</p>
            <h3 class="product__info--price">${{singleProduct.price}}</h3>
            <p-rating 
                class="product__info--rating"
                readonly="true"
                [cancel]="false"
                [iconOnStyle]="{'color': '#FB8200', 'font-size': '11px'}"
                [iconOffStyle]="{'color':'#FB8200', 'font-size': '11px'}"
                [ngModel]="val"
            ></p-rating>
            <span class="product__info--value"> {{singleProduct.stars}} </span>
            <a class="product__info--button" routerLink="/gestion/{{singleProduct.id}}" >Editar</a>
        </div>
    </figure>
</div>