<!-- <div class="card">
    <figure class="product__figure">
        <img class="product__img" src="{{singleProduct.image}}" alt="{{singleProduct.name}}">
        <figcaption class="product__figcaption">{{singleProduct.name}}</figcaption>
        <p>{{singleProduct.description}}</p>
        <h3>$ {{singleProduct.price}}</h3>
        <div>
            <span>Puntuación: {{singleProduct.stars}} </span>
            <a routerLink="/gestion/{{singleProduct.id}}" >Editar</a>
        </div>
    </figure>
</div> -->
<div class="card">
    <img class="card-img-top" src="{{singleProduct.image}}" alt="{{singleProduct.name}}">
    <div class="card-body">
        <p class="card-text">{{singleProduct.name}}</p>
        <p class="card-text" >{{singleProduct.description}}</p>
        <h3 class="card-title" >${{singleProduct.price}}</h3>
        <span>Puntuación: {{singleProduct.stars}} </span>
        <a class="btn btn-outline-primary" routerLink="/gestion/{{singleProduct.id}}" >Editar</a>
    </div>
</div>