@import "../../../styles/imports/settings.imports";

.gestion{

    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    &__title{
        width: 75%;
        margin-bottom: 40px;
    }
    
    &__form{
        width: 55%;
        padding-right: 10%;
        // margin-right: 20px;
        
        &--input{
            display: block;
            margin-top: 5px;
            margin-bottom: 15px;
            width: 100%;
            padding: 3px;
        }
        
        &--submit{
            float: right;
            padding: 5px; 
            border-radius: 4px;
            border: 0px;
            color: $white-bg ;
            background-color: $gestion-color; 
        }

        &--submit:hover{
            color:$gestion-color ;
            background-color: $white-bg;
            border: solid 1px $gestion-color;
        }
    }
    
    &__product{
        border-left: solid 1px $gestion-color;
        padding-left: 10%; 

        &--title{
            text-align: center;
        }

    }

}