$white-bg: #FFF;
$navbar-color: #FFC970;
$icon-color: #444444;
$icon-color-active: #00579F;
$bg-icon-nav: #EBF2FF;
$figure-text: #19191D;
$figure-value: #5E6366;
$figure-button: #2264D1;
$figure-button-hover: #9DC2FF;
$shadow-button: #888888;
$inactive-button-gallery: #EDEDED;
$gestion-color: #F89F21;