@font-face {
    font-family: interFont;
    src: url(../../assets/fonts/inter.ttf);
}

@font-face {
    font-family: redHat-Medium;
    src: url(../../assets/fonts/redHat/RedHatDisplay-Medium.ttf);
}

@font-face {
    font-family: redHat-Bold;
    src: url(../../assets/fonts/redHat/RedHatDisplay-Bold.ttf);
}