<footer class="footer">
    <p class="footer__text">Siguenos en: </p>
    <ul class="footer__list">
        <li class="footer__list__element" ><a class="footer__link" href="https://twitter.com">Twitter |</a></li>
        <li class="footer__list__element" ><a class="footer__link" href="https://facebook.com">Facebook |</a></li>
        <li class="footer__list__element" ><a class="footer__link" href="https://instagram.com">Instagram |</a></li>
        <li class="footer__list__element" ><a class="footer__link" href="https://tiktok.com">TikTok</a></li>
    </ul>
    <p class="footer__text" >Copyright Shopéame © 2020</p>
</footer>